node_modules
vendor

.git
**/.gitignore
.gitattributes

public/**/**
.env.example

.editorconfig
.prettierrc
.styleci.yml

phpunit.xml

docker-compose.yml
Dockerfile
.dockerignore
docker-build.log

# Maintain storage directory structure
storage/app/*
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*