@import '~normalize.css';
@import '~@fontsource/poppins/400.css'; // Normal
@import '~@fontsource/poppins/800.css'; // Bold

:root {
	color-scheme: dark;
}

::selection {
	background: $primary;
	color: $white;
}

* {
	position: relative;
	box-sizing: border-box;
	margin: initial;
	padding: initial;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	font-family: $font-main;
	font-size: large;
	line-height: 1;
	background-color: $main-background;
	color: $main-foreground;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: initial;
	margin: initial;
}

a {
	text-decoration: none;
}

// Non-layout content
.content {
	line-height: 1.6;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
	}

	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2.5em;
	}

	h3 {
		font-size: 2em;
	}

	h4 {
		font-size: 1.75em;
	}

	h5 {
		font-size: 1.5em;
	}

	h6 {
		font-size: 1.25em;
	}

	a {
		color: $secondary;

		&:hover {
			text-decoration: underline;
		}
	}
}

.container {
	padding: 1rem;
}

#app {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;

	& > main {
		flex: 1 1 auto;
	}
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.is-full-size {
	width: 100%;
	height: 100%;
}

.columns {
	width: 100%;
	display: flex;
	flex-direction: row;

	& > .column {
		flex: 1 1 auto;

		& > .is-one-quarter {
			flex: 1 1 25%;
		}

		& > .is-one-half {
			flex: 1 1 50%;
		}

		& > .is-one-third {
			flex: 1 1 33.333%;
		}
	}
}

.buttons {
	display: flex;
	flex-direction: row;
	align-items: center;

	& > .button {
		flex: 1 1 auto;

		&:not(:last-child) {
			margin-right: 0.5em;
		}
	}
}

.button {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	padding: 0.75em 1em;
	color: $white;
	background-color: $primary;
	border-radius: 0.2em;
	transition: background-color 0.1s ease;
	transform: scale(1);

	&.is-full-width {
		display: flex;
		justify-content: center;
		width: 100%;
		text-align: center;
	}

	&:hover {
		background-color: darken($primary, 3%);
	}
}
